
/*
** HTML elements
*/
th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/*
** Menu styles
*/
ul.menu {
  text-align:right;
}
ul.menu li {
  margin: 0 0.5em 0 0;
}
li.expanded {
  padding: 0.2em 0 0 0.5em;
}
li.collapsed {
  padding: 0.2em 0 0 0.5em;
  list-style-image: url(menu-collapsed_rtl.png);
}
li.leaf {
  padding: 0.2em 0 0 0.5em;
}

/*
** Other common styles
*/
.block ul {
  padding: 0 1em 0.25em 0;
}
.item-list .icon {
  float: left;
  padding-right: 0.25em;
  padding-left: 0;
  clear: left;
}
.item-list ul li {
  margin: 0 1.5em 0.25em 0;
}
.more-link {
  text-align: left;
}

/*
** Module specific styles
*/
#aggregator .feed-source .feed-icon {
  float: left;
}
.book-navigation .menu {
  padding: 1em 3em 0 0;
}
.book-navigation .page-previous {
  text-align: left;
}
.book-navigation .page-next {
  text-align: right;
}
.forum-topic-navigation {
  padding: 1em 3em 0 0;
  padding: 0.5em;
}
.forum-topic-navigation .topic-previous {
  margin-left: 4em;
  margin-right: 0;
  text-align: left;
}
.forum-topic-navigation .topic-next {
  text-align: right;
}
#node-admin-buttons {
  float: right;
  margin-right: 0.5em;
  margin-left: 0;
  clear: left;
}
dl.multiselect dt, dl.multiselect dd {
  float: right;
  margin: 0 0 0 1em;
}
#permissions td.permission, #blocks td.block, #taxonomy td.term, #taxonomy td.message {
  padding-right: 1.5em;
  padding-left: 0;
}

#access-rules .access-type, #access-rules .rule-type {
  margin-left: 1em;
  margin-right: 1em;
  float: right;
}
.poll .bar .foreground {
  clear: right;
  float: right;
}
.poll .percent {
  text-align: left;
}
.poll .vote-form .choices {
  text-align: right;
}
.profile .picture {
  float: left;
  margin: 0 0 1em 1em;
}
.search-advanced .criterion {
  float: right;
  margin-left: 2em;
  margin-right: 0;
}
.search-advanced .action {
  float: right;
  clear: right;
}
.theme-settings-right {
  float: right;
}
.theme-settings-left {
  float: left;
}
.more-help-link {
  text-align: left;
}

/* Tab navigation */
ul.primary {
  padding: 0 1em 0 0;
}
ul.primary li a {
  margin-left: 0.5em;
  margin-right: 0;
}
ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: 0;
}

/*
** Help module
*/
.help-items {
  float: right;
  padding-left: 3%;
  padding-right: 0;
}
.help-items-last {
  padding-left: 0;
}

/*
** Animated throbber 
*/
html.js input.form-autocomplete { background-position: 0 2px; }
html.js input.throbbing { background-position: 0 -18px; }


/*
** Progressbar styles
*/
.progress .percentage {
  float: left;
}

/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  border-right-width: 0;
  border-left-width: 0;
}
html.js fieldset.collapsible legend a {
  padding-right: 15px;
  padding-left: 0;
  background-position: center right;
}
html.js fieldset.collapsed legend a {
  background-image: url(menu-collapsed_rtl.png);
}


/*
** Resizable text areas
*/
.resizable-textarea .grippie {
  background: #eee url(grippie.png) no-repeat 0% 100%;
}


