@import "drupal_rtl.css";
@import "modules_rtl.css";

/* Colors, Borders and Backgrounds */
/*
** General
*/
body {
  color: #333;
  background: #fff;
}
pre {
  background: #ddd;
  border: 1px solid #aaa;
}
a,
a:link { 
  color:#c00;
  text-decoration: none; 
}
a:visited { color:#999; }
a:hover,
a:active { 
  color:#069; 
}
a:hover { text-decoration: underline; }
blockquote { border: 1px #ddd solid; }
img { border: 0; }
.thumbnail { border: 1px solid #eee; }
.thumbnail img { border: 1px solid #000; }

/*
** Header
*/
#header {
  background: #666 url("images/sprites.gif") repeat-x 100% 100%;
}
#header a:visited { color: #333; }
h1#site-name,
h1#site-name a,
h1#site-name a:visited {
  color: #ddd;
}
h1#site-name a:hover { text-decoration: none; }
#site-slogan { color: #aaa; }
#search { color: #000; }
#search .form-text { background-color: #fff; }
#search .form-submit { border: 2px solid #c00; }

/*
** ALL content
*/
.main-content .sticky,
#sidebar-left .block-tagadellic,
#sidebar-left .block-poll,
#sidebar-left .block-event,
#sidebar-left .block-comment {
  color: #333;
  border: 0;
  border-top: 1px solid #d7d7d7;
  background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 0 100%;
}
#sidebar-left .block-tagadellic h2.title,
#sidebar-left .block-poll h2.title,
#sidebar-left .block-event h2.title,
#sidebar-left .block-comment  h2.title{
  border-bottom: 0;
}

/*
** Sidebars
*/
.sidebar .block {
  border: solid 1px #999;
}
/* .sidebar .block a, */
.sidebar .block { color: #777; }
.sidebar .block h2 {
  border-bottom: 2px solid #aaa;
  color: #444; 
}
.sidebar .block a:visited, 
.sidebar .block h3 { 
  color: #999; 
}
.sidebar .block a:hover { color: #069; }
.block .more-link a { color: #333; }
.block .more-link a:hover { color: #069; }
#sidebar-left #nav { border-top: 5px solid #666; }
#sidebar-left #nav li {
  background: #999;
  border-bottom: 3px solid #666;
  border-right: 0; 
  border-left: 3px solid #252525;
}
#sidebar-left #nav a, 
#sidebar-left #nav a:link, 
#sidebar-left #nav a:visited, 
#sidebar-left #nav a:hover, 
#sidebar-left #nav a:active {
  text-decoration: none;
  color: #fff;
}
#sidebar-left #nav a:hover { color: #000; }

/*
** Footer
*/
#footer {
  color: #666;
  border-top: solid 1px #777;
  background: transparent url("images/body_bg.gif") repeat-x 100% 100%;
}
#footer p {
  text-indent: 0;
  margin-bottom: 1em;
}

/*
** Content
*/
#mission {
  color: #000;
  background: #eee;
  border: solid 1px #999;
  border-bottom: 5px solid #999;
}
#message {
  background: #fff;
}
div.picture { 
  border: 0;
}
.tabs li .active, .tabs li .active:hover  {
  color: #ccc;
  background: #fff;
}
.marker, .error { color: #f00; }
.ok { color: #080; } 
.status { border: 2px solid #6e2; }
.error { border: 2px solid #f00; }
.box h2 { color: #999; }
.main-content .box {
  border: 1px solid #aaa;
}
.main-content .node {
  border-bottom: 1px solid #999;
  color: #333;
}
.main-content .sticky { border-bottom: 0; }
.main-content .node .terms { color: #999; }
.main-content .content-title { color: #c00; }
.path a, 
.path a:visited { 
  color: #777; 
}

/* --Comments */
.comment {
  border-top: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
}
.comment-new .new {
  color: #4d0;
}
.comment .title, .comment .title a.active {
  color: #444;
  background: #fff;
}
.comment .author {
  color: #333;
}

/* --Forms */
fieldset { border: 1px solid #999; }
.form-radio, .form-checkbox {
  background: transparent;
  border: 0;
}
input.form-text, input.form-password {
  border: solid 1px #ddd;
}
input, textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #777;
}
input:focus, textarea:focus {
  background: transparent;
  border: 1px solid #03f;
}
form .form-item .title  {
  border: 0;
  border-bottom: #ddd solid 1px;
  color: #777;
  background: transparent;
}
select {
  background: #eee;
  color: #000;
}
input.form-submit {
  background: #666;
  color: #fff;
}

/* 
** Galleries 
*/
ul.galleries li { 
  background-color : #eee;
  border: 1px #ccc solid;
}

/* 
** Events 
*/
.event-calendar table { 
  border-collapse: collapse; 
  border: 1px solid #000; 
}
.event-calendar td, 
.event-calendar th { 
  border: 1px solid #000; 
}
.event-calendar th {
  background-color: #c00;
  color: #fff;
} 
.event-calendar td.sat,
.event-calendar td.sun { 
  background-color: #fff; 
}
.event-calendar td.fri { background-color: #fee; }
.event-calendar td.days { 
  background-color: #777; 
  color: #fff;
}
.event-calendar th a, 
.event-calendar th a:visited,
.event-calendar th a:hover { 
  color: #fff; 
  text-decoration: underline;
}
.event-calendar td.selected { background-color: #c00; }
.event-calendar td.today { background-color: #f99; }

/* -------------------------------------------------- */

/* Layout and Fonts */
/*
** General
*/
body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0 10px;;
  direction: rtl;
}
h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; font-weight: bold;}
h4, h5, h6 { font-size: 0.9em; font-weight: bold;}
p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-indent: 1.6em;
  font-size: 1em;
  line-height: 1.6em;
}
pre {
  padding: 0.75em 1.5em;
  font-size: 12px;
}
form {
  padding: 0;
  margin: 0;
}
blockquote {
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}
code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}
ol, ul, dl { position: relative; }
.xml-icon {
  text-align: center;
}
br.clear {
  clear: both;
}

/*
** Header
*/
#header {
  padding: 0.5em 0.2em 0 0;
  margin: 0;
  margin-bottom: 1.2em;
  height: 125px;
}
#header img { 
  margin: 0 1em 0 0.75em;
  float: right;
}
#site-name {
  font-size: 2.5em;
  padding: 10px 1em 0.1em 0;
  margin: 0;
}
#site-slogan {
  display: inline;
  font-weight: bold;
  font-size : 1.2em;
  padding: 0 1.2em 0 0;
  margin: 0;
}
#search {
  margin: 0;
  padding: 0;
  float: left;
  width: 180px;
}
#search .form-text {
  margin-left: 3px;
  padding: 3px;
  width: 8em;
}
#search .form-submit {
  padding: 2px;
}

/*
** ALL content
*/
#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.item-list {
  margin: 0.25em 0 0 0;
  font-size: 0.9em;
}
.item-list ul {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  width: 99%; /* otherwise Internet Explorer doesnt make english links clickable */
}
.item-list ul li {
  margin: 0 0 0.25em 0;
  padding: 0 1em 0 0;
  line-height: 1.3em;
  list-style: none;
}
.main-content .sticky,
#sidebar-left .block-tagadellic,
#sidebar-left .block-poll,
#sidebar-left .block-event,
#sidebar-left .block-comment {
  padding: 15px 20px 20px 20px;
  margin: 0 5px 5px 5px;
}

/*
** Sidebars
*/
td.sidebar {
  vertical-align: top;
  padding: 0;
  width: 200px;
}
.sidebar .block {
  margin: 0 5px 5px 5px;
  padding: 0 5px 5px 5px;
}
.sidebar .block h2 {
  padding: 3px 0;
  margin: 0 2px;
  font-size: 1em;
}
.sidebar .block h3 {
  margin: 0 0 0.3em 0;
}
.sidebar .block .xml-icon {
  text-align: center;
}
.sidebar .block-search input.form-text {
  width: 100px;
  padding: 1px;
  margin-left: 5px;
}
.sidebar .block-search button.form-submit { 
  width: 60px;
  font-size: 12px;
}
.more-link {
  float: none;
  text-align: left;
  font-style: italic;
}
#sidebar-left #nav, 
#sidebar-left #nav ul {
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
}
#sidebar-left #nav {
  font-weight: bold;
  font: bold 90% arial;
  margin-bottom: 10px;
  padding: 0 5px;
}
#sidebar-left #nav li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#sidebar-left #nav a, 
#sidebar-left #nav a:link, 
#sidebar-left #nav a:visited, 
#sidebar-left #nav a:hover, 
#sidebar-left #nav a:active {
  display: block;
  padding: 1px 10px 1px 10px;
}

/*
** Footer
*/
#footer {
  padding: 1em 1em 1em 1em;
  font-size: 0.9em;
  text-align: center;
}
#footer p {
  text-indent: 0;
  margin-bottom: 1em;
}

/*
** Content
*/
td.main-content {
  vertical-align: top;
  padding: 0 10px; /* padding tables in em gets borked on IE */
}
#mission {
  margin: 0 0 1.6em 0;
  font-size: 1.1em;
  width: auto;
  text-indent: 2.5em;
  padding: 0.2em 0.5em;
}
.main-content li {
  padding-bottom: 0.25em;
}
#message {
  padding: 2em;
  margin: 1em 2em;
}
li.leaf {
  list-style-type: square;
}
div.picture { 
  float: right;
  margin: 0 0 0.3em 1em;
}
.main-content .content-title {
  font-size: 1.5em;
  margin: 0 0 0.6em 0;
}
.main-content .box {
  margin-bottom: 1em;
}
.main-content .box .content {
  padding: 0.5em;
}
.main-content .box h2 {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
  text-align: right;
}
.main-content .box .item-list ul li { margin: 0.5em; }
.main-content .node .content, .comment .content, .book .body {
  line-height: 1.5em;
}
.main-content .node .content a, .comment .content a, .book .body a { border-bottom: 1px solid; }
.main-content .node, .book {
  margin: 0 1em 2em 1em;
  padding-bottom: 0.5em;
}
.main-content .node h2.title, .main-content h2 {
  padding: 0;
  margin: 0 0 0.25em 0;
  font-size: 1.3em;
}
.main-content .node .info {
  padding: 0 0 0.2em 0;
  margin: 0;
  font-size: 0.9em;
}
.main-content .node .links, .main-content .node .terms {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.main-content .node .terms {
  font-weight: normal;
  text-align: left;
}
.links a.read-more {
  font-style: italic;
  font-size: 1.2em;
}
.main-content .node .content {
  padding: 0;
  margin: 0;
}
.node .content ol, 
.node .content dl, 
.node .content ul { 
  width: 90%; /* otherwise Internet Explorer doesnt make english links clickable */
  padding: 0 0.8em; 
} 
.node .content ol ol, 
.node .content ol ul,
.node .content ul ol, 
.node .content ul ul { 
  width: 85%;
} 
ul.secondary { width: 85%; } /* otherwise Internet Explorer doesnt make english links clickable */
dl.search-results {  width: 95%; } /* otherwise Internet Explorer doesnt make english links clickable */

/* --Comments */
.comment {
  padding: 1em;
  margin: 1.5em 0;
}
.comment-folded {
  padding: 0.5em;
  margin: 1.5em 0;
}
.comment-new .new {
  text-align: left;
  font-size: 1.1em;
  display: block;
  padding-bottom: 0.5em;
  width: 100%;
}
.comment .content, .comment .content p {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-indent: 0;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
}
.comment .author {
  font-size: 0.9em;
  padding: 0.1em 0.75em 0.3em 0;
}
.comment .links {
  padding: 0.75em 0 0 0;
  margin: 0;
}

/* --Forms */
.form-submit {
  margin: 0;
  font-weight: bold;
}
.main-content .box .content .form-item textarea {
  width: auto;
}
input.form-text, input.form-password {
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
}
h3.form-title {
  text-align: right;
}
form .form-item .title  {
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: right;
}
select {
  margin: 1px 5px;
}
.container-inline {
  margin: 0 0 1.6em 0;
}
.container-inline div {
  display: inline;
}

/* 
** Galleries 
*/
ul.galleries { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.galleries li { 
  margin: 1em 0;
  padding: 1em;
}
ul.galleries li img { 
  position: relative;
  float: right;
  padding: 0 0 0 0.5em;
  margin: 0 0 0.5em 0.5em;
}
ul.galleries li p.count { 
  clear: both;
}
ul.galleries h3 { 
  font-size: 1.2em;
  margin : 0 0 0.5em 0;
  padding : 0;
}
ul.images { 
  list-style-type : none;
  margin : 0;
  padding : 0;
}
ul.images li { 
  float : right;
  margin : 1em;
  height: 130px;
  width: 130px;
}

/*
** Events
*/
.event-calendar td, 
.event-calendar th { 
  text-align: center; 
  padding: 1px; 
  margin: 0; 
  font-size: 0.8em; 
}
.event-calendar td.days {
  font-weight: bold;
  font-size: 120%;
}


